<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-auto mx-auto">
                <span>Created by <a href="https://github.com/carlols">carlols</a>.</span>
                <span>Repo found at github <a href="https://github.com/carlols/PoeDashboard">here.</a></span>
            </div>
        </div>
    </div>
</footer>