@model PoeDashboard.Web.Models.MenuModel

<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="#"><img src="https://cdn.frankerfacez.com/emoticon/386772/1" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
            </li>
        </ul>
    </div>
</nav>