@model PoeDashboard.Web.Models.MenuModel

<nav class="navbar navbar-expand-lg">
    <div id="pageTitle">
        <h1 class="mb-0">PoeDashboard</h1>
        <small>Last updated: <span id="lastUpdatedInfo"></span></small>
    </div>
</nav>