@using PoeDashboard.Web.Code

<script>
    const localStorageKey = "poeDashboardConfig";

    $(document).ready(function () {
        loadCurrencyInfo();
        $(".draggable").draggable();
        

        setInterval(function() {
                loadCurrencyInfo();
            },
            300000); // 5 minute timer = 300000

        $("#voriciCalcModal").on("show.bs.modal",
            function() {
                $(this).find(".modal-content").draggable();
            });

        $("#poeWikiSearchBtn").click(function() {
            searchPoeWiki();
        });

        $("#poeWikiSearchInput").keyup(function (e) {
            if (e.which === 13) {
                searchPoeWiki();
            }
        });

        $("#addCurrenciesBtn").click(function () {
            let selectedCurrencies = $("#addCurrenciesDropdown").dropdown("get value");
            console.log(selectedCurrencies);
            if (selectedCurrencies !== "") {
                let configStringFromLocalStorage = localStorage.getItem(localStorageKey);

                localStorage.setItem(localStorageKey, configStringFromLocalStorage + "," + selectedCurrencies);
                $("#addCurrenciesDropdown").dropdown("clear");
                loadCurrencyInfo();
            }
        });

        $(".ui.dropdown").dropdown();
    });

    function loadCurrencyInfo() {
        const localStorageConfig = localStorage.getItem(localStorageKey);

        //Set default config if none is specified
        if (!localStorageConfig) {
            localStorage.setItem(localStorageKey, "Exalted Orb,Divine Orb,Crusader's Exalted Orb,Hunter's Exalted Orb,Warlord's Exalted Orb");
            loadCurrencyInfo();
            return;
        }

        var configArray = localStorage.getItem(localStorageKey).split(",");
        console.log("Loaded config array:");
        console.log(configArray);

        const requestUrl = `https://cors-anywhere.herokuapp.com/https://poe.ninja/api/data/currencyoverview?league=${"@Text.CurrentLeague"}&type=Currency`;

        $(".currency-info").empty();
        $(".currency-to-add-list").empty();

        $.getJSON(requestUrl,
            function(data) {

                $.each(configArray, function (index, currencyName) {
                    currencyName = currencyName.trim();

                    var currencyId = currencyName.toCamelCase();
                    var iconUrl = data.currencyDetails.filter(details => details.name === currencyName)[0].icon;
                    var orbChaosValue = data.lines.filter(line => line.currencyTypeName === currencyName)[0].chaosEquivalent + "c";

                    var currencyCloneToBeInserted = $("#currencyCloneId").clone().removeClass("hidden").get(0).outerHTML
                        .replaceAll("CurrencyName", currencyName)
                        .replaceAll("currencyCloneId", currencyId);

                    $(".currency-info").append($.parseHTML(currencyCloneToBeInserted));

                    $("#" + currencyId).find(".orb-icon").attr("src", iconUrl);
                    $("#" + currencyId).find(".orb-chaos-value").text(orbChaosValue);
                });

                var filteredCurrencyDetails = new Array();

                $.each(data.lines,
                    function (index, line) {
                        if (!configArray.includes(line.currencyTypeName)) {
                            filteredCurrencyDetails.push(line.currencyTypeName);
                        }
                    });

                $.each(filteredCurrencyDetails,
                    function (index, currencyName) {
                        var iconUrl = data.currencyDetails.filter(details => details.name === currencyName)[0].icon;

                        var dropdownMenuItemToBeInserted = $(".dropdown-menu-item-clone").clone().removeClass("hidden dropdown-menu-item-clone").get(0).outerHTML
                            .replaceAll("CurrencyName", currencyName);

                        $(".currency-to-add-list").append($.parseHTML(dropdownMenuItemToBeInserted));

                        $(".currency-to-add-list").find(`[data-value="${currencyName}"]`).find(".orb-icon").attr("src", iconUrl);
                    });

            }).done(function () {
            var exaltValue = parseInt($("#exaltedOrb").find(".orb-chaos-value").text().split('.')[0]);
            $('[data-toggle="popover"]').popover({
                html: true,
                trigger: 'click',
                content: function() {
                    return $.ajax({
                        url: `/Home/LoadCurrencyPopover?id=exaltedOrb&valueInExalt=${exaltValue}&currencyName=Exalted%20Orb`,
                        dataType: 'html',
                        async: false
                    }).responseText;
                }
            });
            $(".currency-panel-close-btn").click(function (e) {
                var parent = this.closest(".currency-info-panel");
                var currencyName = $(parent).find(".currency-info-title").text();

                var updatedConfig = configArray.filter(v => v != currencyName);
                updatedConfig = $.map(updatedConfig, $.trim);

                console.log("Updated config:");
                console.log(updatedConfig);
                localStorage.setItem(localStorageKey, updatedConfig);

                loadCurrencyInfo();
            });
                $(".currency-info").css("min-height", function () {
                    var visibleCurrencyInfoPanels = $(".currency-info-panel:visible").length;
                    return ((Math.ceil(visibleCurrencyInfoPanels / 4)) * 80);
                });
        }).fail(function(data) {
            console.error(`Currency update failed: ${data}`);
        });

        let date = new Date($.now());
        let lastUpdatedFormatted = date.getHours() + ":" + date.getMinutes() + ":" + date.getSeconds();
        $("#lastUpdatedInfo").text(lastUpdatedFormatted);
    }

    function searchPoeWiki() {
        var searchString = $("#poeWikiSearchInput").val().replace(/ /g, "+");

        var url = `https://pathofexile.gamepedia.com/index.php?search=${searchString}`;
        window.open(url);
    }
</script>

@{
    ViewData["Title"] = "PoeDashboard";
}

<div class="currency-info-panel col-3 hidden justify-content-center mt-2" id="currencyCloneId">
    <h6 class="text-nowrap align-middle">
        <span class="currency-info-title">CurrencyName</span>
        <i class="gg-close-r currency-panel-close-btn ml-5 float-right" style="cursor: pointer"></i>
    </h6>
    <img class="orb-icon mr-2" style="height: 50px; width: 50px;" alt="CurrencyName" data-toggle="popover" />
    <span class="orb-chaos-value"></span>
</div>

<div class="hidden item dropdown-menu-item-clone" data-value="CurrencyName"><img class="orb-icon" />CurrencyName</div>




<div class="row currency-info">
    @*List gets populated dynamically based on user config in localstorage*@
</div>

<div class="row mt-4">
    <div class="col-11">
        <div id="addCurrenciesDropdown" class="ui fluid multiple search selection dropdown">
            <input type="hidden" name="country">
            <i class="dropdown icon"></i>
            <div class="default text">Select currencies to track...</div>
            <div class="menu currency-to-add-list">
                @*Dropdown list populated dynamically in js*@
            </div>
        </div>
    </div>
    <div class="col-1 pl-0">
        <button id="addCurrenciesBtn" class="btn btn-sm btn-primary w-100 h-100">Track</button>
    </div>
</div>

<div class="row mt-5">
    <div class="col-4">
        <h2>Trading utility</h2>
        <div class="card">
            <ul class="list-group list-group-flush">
                <a href="https://www.pathofexile.com/trade/search/@Text.CurrentLeague" target="_blank"><li class="list-group-item list-group-item-dark"><i class="gg-shopping-bag mr-1"></i> Official Trade</li></a>
                <a href="https://www.pathofexile.com/trade/exchange/@Text.CurrentLeague" target="_blank"><li class="list-group-item list-group-item-dark"><i class="gg-shopping-bag mr-1"></i> Official Trade (bulk)</li></a>
                <a href="https://poeapp.com/" target="_blank"><li class="list-group-item list-group-item-dark"><i class="gg-shopping-bag mr-1"></i> Poeapp</li></a>
            </ul>
        </div>
    </div>
    <div class="col-4">
        <h2>Crafting utility</h2>
        <div class="card">
            <ul class="list-group list-group-flush">
                <a href="https://poedb.tw/us/mod.php" target="_blank"><li class="list-group-item list-group-item-dark"><i class="gg-bulb mr-1"></i> Poedb (mods)</li></a>

            </ul>
            <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#voriciCalcModal">
                <i class="gg-calculator mr-1"></i> Vorici Calculator
            </button>
        </div>

    </div>
    <div class="col-4">
        <h2>Misc utility</h2>
        <div class="card">
            <ul class="list-group list-group-flush">
                <a href="https://www.poelab.com/" target="_blank"><li class="list-group-item list-group-item-dark"><i class="gg-readme mr-3"></i> Poelab</li></a>

            </ul>
        </div>
    </div>
</div>

<div class="row mt-5">
    <div class="col-12">
        <h2>Search PoE Wiki</h2>
        <div class="input-group mb-3">
            <input type="text" id="poeWikiSearchInput" class="form-control" placeholder="Enter your search term...">
            <div class="input-group-append">
                <button id="poeWikiSearchBtn" class="btn btn-primary" type="button">Search</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="voriciCalcModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div id="voriciCalcModalContent" class="modal-content">
            <div class="modal-header" style="height: 10px; width: 100%;"></div>
            <iframe scrolling="no" src="https://siveran.github.io/calc.html" style="width: 100%; height: 720px;"></iframe>
        </div>
    </div>
</div>
