html {
  --base-bg-color: #2d2d2d;
  --base-font-color: #cfd2d6; }

body {
  background-color: var(--base-bg-color);
  color: var(--base-font-color); }
  body nav.navbar a.dropdown-toggle {
    color: var(--base-font-color); }

html[data-theme="dark"] {
  --base-bg-color: #2d2d2d;
  --base-font-color: #cfd2d6; }

html[data-theme="light"] {
  --base-bg-color: #fff;
  --base-font-color: #646369; }

body {
  /*background-color: $background-color;
    color: $base-font-color;*/
  font-family: 'Roboto', sans-serif; }

footer.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 25px;
  line-height: 25px; }

.hidden {
  display: none; }

.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center; }

.toast {
  color: black; }

.currency-info li {
  background-color: #2d2d2d !important; }

.currency-info .list-group-item {
  border: none; }

i[class*="gg-"] {
  display: inline-flex; }

.close {
  color: #cfd2d6 !important; }

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important; }
