$background-color: rgb(45, 45, 45);
$base-font-color: rgb(207, 210, 214);

body {
    background-color: $background-color;
    color: $base-font-color;
    font-family: 'Roboto', sans-serif;
}

.hidden {
    display: none;
}

.vertical-center {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.toast {
    color: black;

    .toast-body {
    }
}

.currency-info {
    li {
        background-color: $background-color !important;
    }

    .list-group-item {
        border: none;
    }
}

i[class*="gg-"] {
    float: left !important;
}
